# Ігнорувати файли, які закінчуються на .log
*.log

# Ігнорувати каталоги і файли в каталозі build/
build/

# Ігнорувати файли з ім'ям secret.txt
secret.txt

# Ігнорувати всі файли в каталозі temp/ і його підкаталогах
temp/**
